# Project 6 â€“ Exploratory Data Analysis  

**Author:** Tamia Goode  
**Purpose:**  Exploratory Data Analysis (EDA) with a specific and unique dataset
**Date:** February 17, 2026  

---

## 
This notebook performs exploratory data analysis (EDA) on the Iris dataset to identify patterns, relationships, and insights through statistical summaries and visualizations.

# Import our custom EDA functions
from eda_utils import (
    load_data,
    preview,
    dataset_info,
    summary_stats,
    missing_values,
    plot_numeric_dist,
    plot_correlation,
    detect_outliers
)

# Load Iris dataset
df = load_data("iris.csv")

In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")

In [2]:
df = pd.read_csv("iris.csv")
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa